:root{
    --white: #fff;
    --black1: #000;
    --black2: #111;
    --darkgray: #222;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

body{
    background: var(--black1);
}


