:root{
    --white: #fff;
    --black1: #000;
    --black2: #111;
    --darkgray: #222;
    --primary1: #ffe41b;
    --primary2: #e6d346;
    --secondary1: #581bff;
    --secondary2: #7146e6;
    --tertiary1: #ff1bc2;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--black1);
}


h1, h3, span, p{
    color: var(--white)
}

.main-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 2rem auto;
    padding: 1rem;
}

.main-container a{
    color: var(--tertiary1);
    text-decoration: none;
}

.main-container h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}

.main-container button{
    padding: .2rem .4rem;
    background: var(--secondary2);
    border: none;
    outline: none;
    border-radius: 0 4px 4px 0;
    color: var(--white);
    font-size: 1rem;
    transition: all .5s ease;
}

.main-container button:hover{
    cursor: pointer;
    box-shadow: 0 0 48px 0 var(--secondary1);
}

input{
    padding: .2rem .4rem;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 4px 0 0 4px;
}

.info-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.info-container h3{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary2);
    text-align: center;
}


.input-container{
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}

.subscribe-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.time-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--black2);
}

.time-section h1{
    font-size: 2rem;
}

.cards-container{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 160px;
    margin: .4rem;
    padding: 1rem;
    background:var(--tertiary1);
    box-shadow: 0 0 48px 0 var(--secondary2);
    border-radius: 4px;
}

.card span{
    font-size: 3rem;
    font-weight: 500;
}

.welcome-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-image: url('assets/code1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.welcome-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 4rem 0 1rem;
}
.welcome-container h1{
    font-size: 3rem;
}

.welcome-container h3{
    font-size: 1.2rem;
    font-weight: 300;
    width: 720px;
    text-align: center;
    margin: .4rem auto;
}

.welcome-container span{
    margin: .4rem auto 1rem;
    color: var(--tertiary1);
}

.welcome-container a{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary1);
    border: none;
    text-decoration: none;
    border-radius: 4px;
    padding: .4rem;
    color: var(--darkgray);
    font-size: 1rem;
    transition: all .5s ease;
    height: 48px;
    font-weight: 500;
    text-transform: uppercase;
}

.welcome-container a:hover{
    cursor: pointer;
    box-shadow: 0 0 48px 0 var(--secondary1);
}